[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1.1"
pillow = "==9.2.0"
django-tables2 = "==2.4.1"
django-crispy-forms = "==1.14.0"

[dev-packages]

[requires]
python_version = "3.11"
